[submodule ".nvm"]
	path = .nvm
	url = https://github.com/nvm-sh/nvm.git
[submodule "miniconda"]
	path = miniconda
	url = https://github.com/DFO-Ocean-Navigator/navigator-toolchain.git
	update = rebase
[submodule "Ocean-Data-Map-Project"]
	path = Ocean-Data-Map-Project
	url = https://github.com/DFO-Ocean-Navigator/Ocean-Data-Map-Project.git
	update = rebase
